<!-- src/views/home.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="src/public/styles.css">
    </head>
    <body>
        <div class="welcome">
            <h4>
                Hello there, welcome.
            </h4>
            <%if(locals.PW_2021_CV_Contacto){%>
            <p>You are logged in as <%=JSON.parse(PW_2021_CV_Contacto).nombreContacto%></p>
            <a href="/logout">Logout</a>
            <%} else { %>
            <a href="/login">Login</a>
            <% } %>
        </div>
    </body>
</html>