<!-- src/views/login.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="min-h-screen bg-gray-900 py-6 flex flex-col justify-center sm:py-12 ">
            <div class="relative py-3 sm:max-w-xl sm:mx-auto">
            <form action="/process_login" method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 ">
                <h2>Login</h2>
                <% if(locals.error) {%>
                <p class="text-danger"><%=error%></p>
                <%}%>
                <%if(locals.PW_2021_CV_Contacto){%>
                    <div class="input-field">
                        <input type="text" name="nombreContacto" id="nombreContacto" placeholder="Enter Name" value=<%=JSON.parse(PW_2021_CV_Contacto).nombreContacto%> > <!-- se identifica por name-->
                    </div>
                    <div class="input-field">
                        <input type="text" name="emailContacto" id="emailContacto" placeholder="Enter Email" value=<%=JSON.parse(PW_2021_CV_Contacto).emailContacto%>>
                    </div>
                    <div class="input-field">
                        <input type="text" name="commentContacto" id="commentContacto" placeholder="Enter Comment" value=<%=JSON.parse(PW_2021_CV_Contacto).commentContacto%>>
                    </div>
                <%} else { %>
                <div class="input-field">
                    <input type="text" name="nombreContacto" id="nombreContacto" placeholder="Enter Name"> <!-- se identifica por name-->
                </div>
                <div class="input-field">
                    <input type="text" name="emailContacto" id="emailContacto" placeholder="Enter Email">
                </div>
                <div class="input-field">
                    <input type="text" name="commentContacto" id="commentContacto" placeholder="Enter Comment">
                </div>
                <% } %>
                <input type="submit" value="LogIn">
            </form>
    </div>
</div>
    </body>
</html>